.jumbotron {
    background-color: #a6bacf; 
    margin-bottom: 5px;
}

.card {
    margin-top: 30px;
    border-color: #e6f2ff;
    border-width: thick;
}

.card-title {
    background-color: #e6f2ff;
    padding: 10px;
}

.btn {
    color: black;
    background-color: #a6bacf;
}
